.noti{
    position: fixed;
    border: 1px solid black;
    border-radius: 5px;
    width: 25%;
    height: 33rem;
    top: 5.5rem;
    transition:all 0.3s linear;

    background-color: white;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1000;

    overflow-y: auto;
}