/* .InternalCard_parent{
    border: 1px solid black;
    width: fit-content;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    border-radius: 10px;
    margin-bottom: 10px;
}

.InternalCard_img{
    width: 40%;
    height: 100%;
}

.IMAGE{
    width: auto;
    height: 90%;
    background-color: aqua;
    margin: 10px;
    border-radius: 10px;
}

.InternalCard_mid{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.InternalCard_mid span{
    border: 1px solid black;
    border-radius: 5px;
}

.InternalCard_TotalItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.InternalCard_button{
    width: 100px;
    height: 30px;
    border-radius: 1rem;
    background-color: #0fa4af;
    border: none;
    color: white;
} */


.InternalCard_parent{
    border: 1px solid black;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    margin-left: 2rem;
}

@media (max-width : 600px){
    .InternalCard_parent{
        flex-direction: column;
    }
}

.InternalCard_img{
    border: 1px solid black;
}

.InternalCard_img img{
    width: 10rem;
    height: 10rem;
}

.InternalCard_mid{
    border: 1px solid black;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.InternalCard_TotalItems{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
}