.Footer{
    /* background-color: aqua; */
    width: 100%;
    height: 120px;
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontalLine{
    margin-top: 20px;
    width: 85%;
    height: 1px;
    border: 1px solid #0fa4af5b;
}

.footer-content{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
}

.footer-content a{
    color: black;
}

.footer-left{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: start;
}
